<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set New Password</title>
</head>
<body>
    <h2>Set New Password</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="uid" value="{{ uid }}">
        <input type="hidden" name="token" value="{{ token }}">
        <label for="id_new_password1">New Password:</label>
        <input type="password" id="id_new_password1" name="new_password1" required>
        <label for="id_new_password2">Confirm New Password:</label>
        <input type="password" id="id_new_password2" name="new_password2" required>
        <button type="submit">Change Password</button>
    </form>
</body>
</html>
