# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintainted in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
mysql-data/\#ib_16384_0.dblwr
*.dblwr
mysql-data/\#innodb_redo/\#ib_redo11_tmp
mysql-data/\#innodb_redo/\#ib_redo12_tmp
mysql-data/\#innodb_redo/\#ib_redo13_tmp
mysql-data/\#innodb_redo/\#ib_redo14_tmp
mysql-data/\#innodb_redo/\#ib_redo15_tmp
mysql-data/\#innodb_redo/\#ib_redo16_tmp
*.000003
*.000002
*.000001
*.cnf
*.ibt
*.index
*.pem
*.ibd
*.sock
*.CSM
mysql-data/\#innodb_redo/\#ib_redo10
mysql-data/\#innodb_redo/\#ib_redo17_tmp
mysql-data/\#innodb_redo/\#ib_redo18_tmp
mysql-data/\#innodb_redo/\#ib_redo19_tmp
mysql-data/\#innodb_redo/\#ib_redo20_tmp
mysql-data/\#innodb_redo/\#ib_redo21_tmp
mysql-data/\#innodb_redo/\#ib_redo22_tmp
mysql-data/\#innodb_redo/\#ib_redo23_tmp
mysql-data/\#innodb_redo/\#ib_redo24_tmp
mysql-data/\#innodb_redo/\#ib_redo25_tmp
mysql-data/\#innodb_redo/\#ib_redo26_tmp
mysql-data/\#innodb_redo/\#ib_redo27_tmp
mysql-data/\#innodb_redo/\#ib_redo28_tmp
mysql-data/\#innodb_redo/\#ib_redo29_tmp
mysql-data/\#innodb_redo/\#ib_redo30_tmp
mysql-data/\#innodb_redo/\#ib_redo31_tmp
mysql-data/\#innodb_redo/\#ib_redo32_tmp
mysql-data/\#innodb_redo/\#ib_redo33_tmp
mysql-data/\#innodb_redo/\#ib_redo34_tmp
mysql-data/\#innodb_redo/\#ib_redo35_tmp
mysql-data/\#innodb_redo/\#ib_redo36_tmp
mysql-data/\#innodb_redo/\#ib_redo37_tmp
mysql-data/\#innodb_redo/\#ib_redo38_tmp
mysql-data/\#innodb_redo/\#ib_redo39_tmp
mysql-data/\#innodb_redo/\#ib_redo40_tmp
mysql-data/\#innodb_redo/\#ib_redo9
mysql-data/ib_buffer_pool
mysql-data/ibdata1
mysql-data/ibtmp1
mysql-data/mysql/general_log.CSV
mysql-data/mysql/general_log_213.sdi
mysql-data/mysql/slow_log.CSV
mysql-data/mysql/slow_log_214.sdi
mysql-data/performance_schema/accounts_145.sdi
mysql-data/performance_schema/binary_log_trans_189.sdi
mysql-data/performance_schema/cond_instances_82.sdi
mysql-data/performance_schema/data_lock_waits_161.sdi
mysql-data/performance_schema/data_locks_160.sdi
mysql-data/performance_schema/error_log_83.sdi
mysql-data/performance_schema/events_errors_su_139.sdi
mysql-data/performance_schema/events_errors_su_140.sdi
mysql-data/performance_schema/events_errors_su_141.sdi
mysql-data/performance_schema/events_errors_su_142.sdi
mysql-data/performance_schema/events_errors_su_143.sdi
mysql-data/performance_schema/events_stages_cu_111.sdi
mysql-data/performance_schema/events_stages_hi_112.sdi
mysql-data/performance_schema/events_stages_hi_113.sdi
mysql-data/performance_schema/events_stages_su_114.sdi
mysql-data/performance_schema/events_stages_su_115.sdi
mysql-data/performance_schema/events_stages_su_116.sdi
mysql-data/performance_schema/events_stages_su_117.sdi
mysql-data/performance_schema/events_stages_su_118.sdi
mysql-data/performance_schema/events_statement_119.sdi
mysql-data/performance_schema/events_statement_120.sdi
mysql-data/performance_schema/events_statement_121.sdi
mysql-data/performance_schema/events_statement_122.sdi
mysql-data/performance_schema/events_statement_123.sdi
mysql-data/performance_schema/events_statement_124.sdi
mysql-data/performance_schema/events_statement_125.sdi
mysql-data/performance_schema/events_statement_126.sdi
mysql-data/performance_schema/events_statement_127.sdi
mysql-data/performance_schema/events_statement_128.sdi
mysql-data/performance_schema/events_statement_129.sdi
mysql-data/performance_schema/events_statement_130.sdi
mysql-data/performance_schema/events_transacti_131.sdi
mysql-data/performance_schema/events_transacti_132.sdi
mysql-data/performance_schema/events_transacti_133.sdi
mysql-data/performance_schema/events_transacti_134.sdi
mysql-data/performance_schema/events_transacti_135.sdi
mysql-data/performance_schema/events_transacti_136.sdi
mysql-data/performance_schema/events_transacti_137.sdi
mysql-data/performance_schema/events_transacti_138.sdi
mysql-data/performance_schema/events_waits_cur_84.sdi
mysql-data/performance_schema/events_waits_his_85.sdi
mysql-data/performance_schema/events_waits_his_86.sdi
mysql-data/performance_schema/events_waits_sum_87.sdi
mysql-data/performance_schema/events_waits_sum_88.sdi
mysql-data/performance_schema/events_waits_sum_89.sdi
mysql-data/performance_schema/events_waits_sum_90.sdi
mysql-data/performance_schema/events_waits_sum_91.sdi
mysql-data/performance_schema/events_waits_sum_92.sdi
mysql-data/performance_schema/file_instances_93.sdi
mysql-data/performance_schema/file_summary_by__94.sdi
mysql-data/performance_schema/file_summary_by__95.sdi
mysql-data/performance_schema/global_status_181.sdi
mysql-data/performance_schema/global_variables_184.sdi
mysql-data/performance_schema/host_cache_96.sdi
mysql-data/performance_schema/hosts_146.sdi
mysql-data/performance_schema/keyring_componen_191.sdi
mysql-data/performance_schema/keyring_keys_152.sdi
mysql-data/performance_schema/log_status_174.sdi
mysql-data/performance_schema/memory_summary_b_154.sdi
mysql-data/performance_schema/memory_summary_b_155.sdi
mysql-data/performance_schema/memory_summary_b_156.sdi
mysql-data/performance_schema/memory_summary_b_157.sdi
mysql-data/performance_schema/memory_summary_g_153.sdi
mysql-data/performance_schema/metadata_locks_159.sdi
mysql-data/performance_schema/mutex_instances_97.sdi
mysql-data/performance_schema/objects_summary__98.sdi
mysql-data/performance_schema/performance_time_99.sdi
mysql-data/performance_schema/persisted_variab_187.sdi
mysql-data/performance_schema/prepared_stateme_175.sdi
mysql-data/performance_schema/processlist_100.sdi
mysql-data/performance_schema/replication_appl_165.sdi
mysql-data/performance_schema/replication_appl_166.sdi
mysql-data/performance_schema/replication_appl_167.sdi
mysql-data/performance_schema/replication_appl_168.sdi
mysql-data/performance_schema/replication_appl_170.sdi
mysql-data/performance_schema/replication_appl_171.sdi
mysql-data/performance_schema/replication_asyn_172.sdi
mysql-data/performance_schema/replication_asyn_173.sdi
mysql-data/performance_schema/replication_conn_162.sdi
mysql-data/performance_schema/replication_conn_164.sdi
mysql-data/performance_schema/replication_grou_163.sdi
mysql-data/performance_schema/replication_grou_169.sdi
mysql-data/performance_schema/rwlock_instances_101.sdi
mysql-data/performance_schema/session_account__151.sdi
mysql-data/performance_schema/session_connect__150.sdi
mysql-data/performance_schema/session_status_182.sdi
mysql-data/performance_schema/session_variable_185.sdi
mysql-data/performance_schema/setup_actors_102.sdi
mysql-data/performance_schema/setup_consumers_103.sdi
mysql-data/performance_schema/setup_instrument_104.sdi
mysql-data/performance_schema/setup_objects_105.sdi
mysql-data/performance_schema/setup_threads_106.sdi
mysql-data/performance_schema/socket_instances_147.sdi
mysql-data/performance_schema/socket_summary_b_148.sdi
mysql-data/performance_schema/socket_summary_b_149.sdi
mysql-data/performance_schema/status_by_accoun_177.sdi
mysql-data/performance_schema/status_by_host_178.sdi
mysql-data/performance_schema/status_by_thread_179.sdi
mysql-data/performance_schema/status_by_user_180.sdi
mysql-data/performance_schema/table_handles_158.sdi
mysql-data/performance_schema/table_io_waits_s_107.sdi
mysql-data/performance_schema/table_io_waits_s_108.sdi
mysql-data/performance_schema/table_lock_waits_109.sdi
mysql-data/performance_schema/threads_110.sdi
mysql-data/performance_schema/tls_channel_stat_190.sdi
mysql-data/performance_schema/user_defined_fun_188.sdi
mysql-data/performance_schema/user_variables_b_176.sdi
mysql-data/performance_schema/users_144.sdi
mysql-data/performance_schema/variables_by_thr_183.sdi
mysql-data/performance_schema/variables_info_186.sdi
mysql-data/undo_001
mysql-data/undo_002
