django
django-rest-framework
django-filter
Pillow
black
python-dotenv
openpyxl
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
python-decouple
python-social-auth
pyproject
drf_yasg
djoser
django-axes
django-otp
qrcode