
{%extends 'base.html' %}
{%block title %} Edit Asset Status   {%endblock%}

{%block content %} 
   
<div class="container">
    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="" width="62" height="47">
        <h2>Edit Asset Status </h2>
      </div>


          <h4 class="mb-3">Add Information</h4>
          <form class="needs-validation" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder=""  name="name" value = {{asset_status.name}}>
              </div>
  
              <div class="col-sm-6">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" placeholder=""  name="description" value = {{asset_status.description}}>
              </div>

            <button class="w-100 btn btn-lg btn-outline-success" type="submit">Edit</button>
          </form>
        </div>
      </div>
    </main>
</div>

{%endblock%}