{%extends 'base.html' %}
{%block title %} Sign Up {%endblock%}

{%block content %} 
   
<div class="container">
    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="" width="62" height="47">
        <h2>Update {{object.title}}</h2>
      </div>
  <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Edit Information</h4>
          <form class="needs-validation" method="post" enctype="multipart/form-data">
            {%csrf_token%}


              <div class="">
                <select class="form-select" id="id_priority" name="priority">
                    <option value="">----------------</option>
                    {% for task_priority in form.fields.priority.queryset %}
                        {% if object.priority == task_priority %}
                        <option value="{{ task_priority.pk }}"  selected >
                            {{ task_priority.name }}
                        </option>
                        {% else %}
                        <option value="{{ task_priority.pk }}">
                            {{ task_priority.name }}
                        </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <br>
            <button class="w-100 btn btn-lg btn-outline-success" type="submit">Update</button>
          </form>
        </div>
      </div>
    </main>
</div>

{%endblock%}