<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Assignment History</h3>
    <ul>
      {% for entry in log %}
        <li>
          <strong>Assigned to:</strong> {{ entry.assigned_to }},
          <strong>Assigned by:</strong> {{ entry.assigned_by }},
          <strong>Assigned at:</strong> {{ entry.assigned_at }},
          <strong>Comment:</strong> {{ entry.comment }}
        </li>
      {% endfor %}
    </ul>
</body>
</html>