{% extends 'base.html' %}
    {%block title %} {{object.title}}{%endblock%}
{%block content%}



    <div class="container mt-4">
        <h2>{{object.title}}</h2>
        <br>
        <div class="card mb-4">
          <div class="card-body">
              <p class="card-text"><strong>ID:</strong>{{object.id}}</p>
              <hr>
              <p class="card-text"><strong>Title:</strong>{{object.title}}</p>
              <hr>
              <p class="card-text"><strong>Description:</strong>{{object.description}}</p>
              <hr>
              <p class="card-text"><strong>Creator: </strong>{{object.created_by}}</p>
              <hr>
              <p class="card-text"><strong>Assignee: </strong>{{object.assign_to}}</p>
              <hr>
              <p class="card-text"><strong>Team: </strong>{{object.team}}</p>
              <hr>
              <p class="card-text"><strong>Type: </strong>{{object.type}}</p>
              <hr>
              <p class="card-text"><strong>Work Flow: </strong>{{object.type.work_flow}}</p>
              <hr>
              <p class="card-text"><strong>Status: </strong>{{object.status}}</p>
              <hr>
              <p class="card-text"><strong>Priority: </strong>{{object.priority}}</p>
              <hr>
              <p class="card-text"><strong>Created at: </strong>{{object.created_date}}</p>
              <hr>
              <p class="card-text"><strong>Last Change: </strong>{{object.last_change}}</p>
              <!-- Add other task details as needed -->
          </div>
          <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Participants</h5>
                {% for participant in object.participants.all %}
                    {% if participant.image %}
                         <a href="{%url 'accounts:detail' participant.id %}"><img src="{{ participant.image.url }}" alt="{{ participant.email }}" title="{{ participant }}" class="rounded-circle" width="50" height="50"></a>
                    {% else %}
                        <p>{{ participant }}</p>
                    {% endif %}
                {% empty %}
                    <p>No participants</p>
                {% endfor %}
        </div>
      </div>    

        <!-- Buttons to change status, priority, add comment, etc. -->
        <div class="mb-4">
          <a href="{% url 'tasks:log' object.id%}" class="btn btn-success me-2">Task Log</a>
          <a href="#" data-toggle="modal" data-target="#exampleModal2"  class="btn btn-success me-2" title="assignee" >Assign to me</a>
          <a href="{% url 'tasks:assign_to' object.id%}" class="btn btn-success me-2">Assign To</a>
          <a href="{% url 'tasks:change_status' object.id%}" class="btn btn-success me-2">Change Status</a>
          <a href="{% url 'tasks:change_priority' object.id%}" class="btn btn-success me-2">Change Priority</a>
          <a href="{% url 'tasks:update' object.id%}" class="btn btn-success me-2">Update</a>
          <a href="#" data-toggle="modal" data-target="#exampleModal"  class="btn btn-success me-2" title="Delete" >Delete</a>
        </div>



<!-- Task Flow Log section -->
<div class="card mt-4">
  <div class="card-header">
      Task Flow Log
  </div>
  <div class="card-body">
      {% for i in object.flow_task.all %}
          <div class="card mb-3">
              <div class="card-body">
                  <p class="card-text"><strong>Team:</strong> {{ i.state.team }}</p>
                  <p class="card-text"><strong>State:</strong> {{ i.state }}</p>
                  <p class="card-text"><strong>Proces Percentage:</strong> %{{ i.state.process_percentage }}</p>
                  <p class="card-text"><strong>Comment:</strong> {{ i.comment }}</p>
                  <p class="card-text"><strong>Date:</strong> {{ i.created_at }}</p>
              </div>
          </div>
      {% empty %}
          <p>No task flow logs available</p>
      {% endfor %}
  </div>
</div>


<a href="{% url 'tasks:tasklogflow-create' object.id %}" class="btn btn-success me-2">Task Checked</a>




      <!-- DELETE MODALS -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" href="{% url 'tasks:delete' pk=object.pk %}" class="btn">Delete</a>
          </div>
          </div>
        </div>
      </div>

      <!-- ASSIGNEE MODALS -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Assign Confirmation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to Assign this task to your self ?
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" href="{% url 'tasks:assign_to_me' pk=object.pk %}" class="btn">Yes</a>
          </div>
          </div>
        </div>
      </div>

    <!-- jQuery (needed for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%endblock%}