<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{object.task}}<br>
    {{object.title}}<br>
    {{object.description}}<br>
   creator: {{object.creator}}<br>
    {{object.status}}<br>
   Team: {{object.type.assigned_to.name}} <br>
    assignee {{object.assign_to}}<br>
    Priority: {{object.priority}}<br>
    <p>------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    <a href="{% url 'tasks:log' object.id%}">Task Log</a><br>
    <p>------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<a href="{% url 'tasks:change_status' object.id%}">Task Change Status</a> <br>
<a href="{% url 'tasks:change_priority' object.id%}">Task Change Priority</a> <br>


<h3>Comments</h3>
<ul>
  {% for comment in task.comments.all %}
    <li>{{ comment.user }} commented on {{ comment.commented_at }}: {{ comment.comment }}, <a href="{{object.attachments.url}}"> Attachments</a>  </li>
  {% endfor %}
</ul>

<a href="{% url 'tasks:task_comment' pk=object.pk %}">Add Comment</a>
</body>
</html>