<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{object.art}}<br>
    {{object.title}}<br>
    {{object.content}}<br>
    author: {{object.author}}<br>
    {{object.is_public}}<br>
    {{object.is_archive}}<br>
    {%if object.attachments%}
   <a href="{{object.attachments.url}}">{{object.title}} </a> <br>
   {%endif%}
   tags:{{object.tags.name}}<br>
   <button> <a href="{%url 'article:post' object.id%}">Share this article</a></button>
</body>
</html>