<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Articles</title>
</head>
<body>
    <button><a href="{%url 'article:create'%}"> Create New Article</a></button>
    <form action="" method="get">
        {{filter.form.as_p}}
        <input type="submit">
    </form>
    {%for i in article%}
    {{i.art}},,{{i.title}},{{i.author}},    <a href="{%url 'article:detail' i.id %}">Detail</a>,<a href="{%url 'article:update' i.id %}">Update</a>,<a href="{%url 'article:delete' i.id %}">Delete</a>,<br>
    {%endfor%}

    <a href="{%url 'article:archive' %}">My Archive</a>
</body>
</html>