<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTICLES</title>
</head>
<body>
    <button><a href="{%url 'article:create'%}"> Create New Article</a></button>
    <form action="" method="get">
        {{filter.form.as_p}}
        <input type="submit">
    </form>
    {%for i in tags%}
    {{i.id}}:{{i.title}}, <a href="{%url 'article:approve' i.id%}">Approve</a>, <a href="{%url 'article:reject' i.id%}">Reject</a><br>
    {%endfor%}
</body>
</html>