{%extends 'base.html' %}
{% block content_1%}
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{user.image.url}}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{user.last_name}}{{user.first_name}}</h5>
            <p class="text-muted mb-1">{{user.email}}</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p> Created Task: {{user_created_task}}</p>
            </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p> Assigned Task: {{user_assigned_task}}</p>
            </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p> Created Incident: 0</p>
            </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p> Assigned Incident: 0</p>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.first_name}} {{user.last_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Activity Status</p>
              </div>
              {%if user.is_active%}
              <div class="col-sm-9">
                <p class="text-muted mb-0">Active</p>
              </div>
              {%else%}
              <div class="col-sm-9">
                <p class="text-muted mb-0">Suspended</p>
              </div>
              {%endif%}
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Last Login</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.last_login}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Login Attempts</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.login_attempts}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Roles</p>
                {% for i in user.groups.all %}
                <p class="mt-4 mb-1" style="font-size: .77rem;">{{i.name}}</p>
                {%empty%}
                <p class="mt-4 mb-1" style="font-size: .77rem;">No roles found</p>
                {%endfor%}
                <p class="mt-4 mb-1" style="font-size: .77rem;">  <a href="{%url 'rbac:assign_role_to_user' user.id %}">Manage Roles</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"> Permissions</p>

                {% for i in user_permissions %}
                <p class="mt-4 mb-1" style="font-size: .77rem;">{{i}}</p>
                {% empty %}
                <p class="mt-4 mb-1" style="font-size: .77rem;">No permissions found</p>
                {%endfor%}
                <p class="mt-4 mb-1" style="font-size: .77rem;">  <a href="{%url 'rbac:assign_permission' user.id %}">Manage Permissions</a></p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}