{% extends 'base.html' %}
   {%block title%}Activities on Tasks{%endblock%}
{%block content%}
<main style="margin: 10% 10%;">
  <h3>{{user}} Activities on Tasks</h3>
  <br>
<table class="table table-bordered">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task</th>
      <th scope="col">Event Type</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Description</th>

    </tr>
  </thead>
  <tbody>
    {%for i in log%}
    <tr>
      <th scope="row">{{i.id}}</th>
      {% if i.task == none%} 
      <td>Deleted</td>
      {%else%}
      <td>{{i.task}}</td>
      {%endif%}
      <td>{{i.event_type}}</td>
      <td>{{i.timestamp}}</td>
      <td>{{i}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
</main>
{%endblock%}