{% extends 'base.html'%}
{%block content%}
    <section class="vh-100 gradient-custom-2" style="margin-bottom: 35%;">
        <div class="container py-5 h-100">
          <div class="text-center pt-3 pb-2">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
              alt="Check" width="60">
            <h2 class="my-4">Users</h2>
          </div>
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-10">
              <div class="card mask-custom">
                <div class="card-body p-4 text-white">
                  <form class="table text-white mb-0" method="get">
                    {%csrf_token%}
                    <div class="row g-3">
                      <div class="col-sm-6">
                        <label for="id_id" class="form-label">Id</label>
                        <input  class="form-control" type="number" name="id" step="any" id="id_id"value="{{ request.GET.id }}" >
                      </div>
          
                      <div class="col-sm-6">
                        <label for="email" class="form-label">email</label>
                        <input  class="form-control" type="text" name="email" step="any" id="email" value="{{ request.GET.email }}" >
                      </div>

                      <div class="col-sm-6">
                        <label for="name" class="form-label">Name</label>
                        <input  class="form-control" type="text" name="name" step="any" id="name" value="{{ request.GET.name }}" >
                      </div>

                      <button class="w-100 btn btn-lg btn-outline-success" type="submit">Search</button>
                    </form>
      
                  <table class="table text-white mb-0">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Last Login</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%for i in users%}
                      <tr class="fw-normal">
                        <th>
                          <img src="{{i.image.url}}"
                            alt="avatar 1" style="width: 45px; height: auto;">
                          <span class="ms-2">{{i.first_name}} {{i.last_name}}</span>
                        </th>
                        <td class="align-middle">
                          <span>{{i.email}}</span>
                        </td>
                        <td class="align-middle">
                            <span>{{i.last_login}}</span>
                          </td>
                        <td class="align-middle">
                            <a href="{%url 'accounts:detail' i.id %}" data-mdb-toggle="tooltip" title="Detail"> <i class="fas fa-info-circle"></i></a>
                          <a href="{%url 'accounts:update' i.id %}" data-mdb-toggle="tooltip" title="Update"><i class="fas fa-edit" ></i></a>
                          <a href="{%url 'rbac:assign_role_to_user' i.id %}" data-mdb-toggle="tooltip" title="Manage Roles"> <i class="fas fa-shield-alt"></i></a>
                          <a href="{%url 'accounts:task_activity' i.id %}" data-mdb-toggle="tooltip" title="Task Activity Logs"><i class="fas fa-history"></i></a>
                          <a href="#" data-toggle="modal" data-target="#exampleModal2"  title="Suspend User" ><i class="fas fa-ban"></i></a>
                          <a href="#" data-toggle="modal" data-target="#exampleModal"  title="Delete" ><i class="fas fa-trash-alt"></i></a>
                        </td>
                      </tr>
                      <!-- DELETE MODALS -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Are you sure you want to delete this item?
                            </div>
                            <div class="modal-footer">
                              <a class="btn btn-primary" href="{% url 'accounts:delete' i.id %}" class="btn">Delete</a>
                          </div>
                          </div>
                        </div>
                      </div>


                      <!-- SUSPEND MODALS -->
                      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel1">Suspend Confirmation</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Are you sure you want to Suspend this item?
                            </div>
                            <div class="modal-footer">
                              <a class="btn btn-primary" href="{% url 'accounts:suspend' i.id %}" class="btn">Suspend</a>
                          </div>
                          </div>
                        </div>
                      </div>
                      {%endfor%}
                      </tbody>
                  </table>
    
      
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </section>
<!-- jQuery (needed for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{%endblock%}
