<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="get">
        {%csrf_token%}
        {{filter.form.as_p}}
        <input type="submit">
    </form>
    {%for i in notes%}
    {{i.notes}},,{{i.title}},{{i.author}},    <a href="{%url 'notes:detail' i.id %}">Detail</a>,<a href="{%url 'notes:update' i.id %}">Update</a>,<a href="{%url 'notes:delete' i.id %}">Delete</a>,<br>
    {%endfor%}
</body>
</html>