<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href="{%url 'notes:create_note'%}"> Create New Note</a></button>
    <form action="" method="get">
        {{filter.form.as_p}}
        <input type="submit">
    </form>
    {%for i in notes%}
    {{i.notes}},,{{i.title}},{{i.author}} <br>
    {%endfor%}

    <a href="{%url 'notes:my_archive_notes' %}">My Archive</a>
</body>
</html>