<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{object.org}}<br>
    {{object.name}}<br>
    {{object.address}}<br>
    {{object.postal_code}}<br>
    {{object.phone_number}}<br>
    {{object.email}}<br>
    {{object.website}}<br>
    {{object.industry}}<br>
    {{object.employee_count}}<br>
    {{object.founding_date}}<br>
    {{object.parent_organization}}<br>
    {{object.subsidiaries}}<br>
    {{object.legal_entity_type}}<br>
    {{object.tax_id_number}}<br>
    {{object.registration_number}}<br>
    {{object.registration_date}}<br>
    {{object.logo}}<br>
    {{object.created_by}}<br>
    Departments: {% for d in department %}{{ d }},{% endfor %}<br>
</body>
</html>