
{%extends 'base.html' %}
{%block title %} Create Work Flow{%endblock%}

{%block content %} 
   
<div class="container">
    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="" width="62" height="47">
        <h2>Cretae Work Flow</h2>
      </div>


          <h4 class="mb-3">Add Information</h4>
          <form class="needs-validation" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder=""  name="name">
              </div>
  
              <div class="col-sm-6">
                <label for="category">Root</label>
                <select class="form-select" id="root" name="root">
                    <option value="">----------</option>
                    {% for i in form.fields.root.queryset %}
                        <option value="{{ i.pk }}">
                            {{ i.state }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <label class="form-label" for="diagram">Upload Diagram Image</label>
            <input type="file" class="form-control" id="diagram" name="diagram" />


              <div class="col-sm-6">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  id="checkboxExample" name="is_active" Checked>
                    <label class="form-check-label" for="checkboxExample">Is Active</label>
                </div>
            </div>




            <button class="w-100 btn btn-lg btn-outline-success" type="submit">Add Instance</button>
          </form>
        </div>
      </div>
    </main>
</div>

{%endblock%}