<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href="{%url 'asset:license_create'%}"> add New License</a></button>
    <form action="" method="get">
        {%csrf_token%}
        {{filter.form.as_p}}
        <input type="submit">
    </form>
    {%for i in license%}
    {{i.id}}:{{i.software_name}},<a href="{%url 'asset:license_detail' i.id%}"> Detail</a>,<a href="{%url 'asset:license_update' i.id %}">Update</a>,<a href="{%url 'asset:license_delete' i.id %}">Delete</a><br>
    {%endfor%}
</body>
</html>