<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{object.meeting}}<br>
    {{object.title}}<br>
    {{object.status}}<br>
    {{object.description}}<br>
   creator: {{object.creator}}<br>
    {{object.date_time}}<br>
    {{object.location}}<br>
   organizer: {{object.organizer}}<br>
   action: {{object.action}}<br>
   report: {{object.report}}<br>

   <button><a href="{% url 'meetings:detail_excel_report' object.id %}">Download Excel Report</a></button>
   <button><a href="{% url 'meetings:detail_csv_report' object.id %}">Download CSV Report</a></button>

</body>
</html>