<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href="{%url 'tasks:create_task'%}"> Create New task</a></button>
    <form action="" method="get">
        {{filter.form.as_p}}
        <input type="submit" value="Search">   
    </form>

    {% for obj in filter.qs %}
    <a href="{%url 'meetings:detail' obj.id %}">{{ obj.meeting }}</a>{{ obj.title }} <br/>
    {% endfor %}
</body>