<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   name: {{object.name}}<br>
   <h2>PERMISSIONS:</h2>
   <ul>
       {% for i in object.permissions.all %}
           <li>{{i}},<a href="{%url 'rbac:permission_detail' i.id%}">Detail</a>,<a href="{%url 'rbac:permission_update' i.id%}">Update</a>,<a href="{%url 'rbac:permission_delete' i.id%}">Delete</a><br></li>
       {% empty %}
           <li>No Permissions found.</li>
       {% endfor %}
       <li><a href="{%url 'rbac:role_update' object.id %}">Add Another Permission</a></li>
   </ul>




   <h2>Users:</h2>
   <ul>
       {% for i in users %}
           <li>{{i}},<a href="{%url 'accounts:detail' i.id%}"> View User</a>,<a href="{%url 'rbac:manage_user_role' i.id %}">Manage User Roles</a>  </li>
       {% empty %}
           <li>No Users found.</li>
       {% endfor %}
       <li><a href="{%url 'accounts:users' %}">Add User</a></li>
   </ul>
</body>
</html>