<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   name: {{object.name}}<br>
   PERMISSIONS: {%for i in object.permissions.all%} {{i}}, {%endfor%}<br>

   <h2>Users:</h2>
   <ul>
       {% for i in users %}
           <li>{{i.user}} <a href="{%url 'rbac:user_role_delete_from_role_detail' i.id%}">delete Role</a> </li>
       {% empty %}
           <li>No Roles found.</li>
       {% endfor %}
   </ul>
</body>
</html>